.card-custom{
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    background-color: #fff;
    padding: 1.5rem 1rem;
    border-radius: 20px;
}
.filters{
    display: flex;
    flex-wrap: wrap;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    background-color: #fff;
    padding: 1.5rem 1rem;
    border-radius: 20px;
}
.nothing-txt{
    color: red;
}
.hidden {
    display: none;
}
.police-text{
    font-weight: 900;
    font-size: 2rem;
    color: #1873d4;
}
.section-title {
    width: 100%; 
    background-color: #cadded; 
    padding: 16px; 
    text-align: right; 
    border-radius: 10px;
}
.title-data{
    width: 100%; 
    background-color: #1774d1; 
    color: #cadded;
    font-size:1.5rem; 

    padding: 16px; 
    border-radius: 10px;
}
.section-title h1  {
    font-weight: bold;
    font-size:1.5rem; 
    color: #1774d1;
}
.logo-data{
    height: 20vh;
}
