.card-custom{
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    background-color: #fff;
    padding: 1.5rem 1rem;
    border-radius: 20px;
}
.filters{
    display: flex;
    flex-wrap: wrap;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    background-color: #fff;
    padding: 1.5rem 1rem;
    border-radius: 20px;
}
.nothing-txt{
    color: red;
}
.hidden {
    display: none;
}